
<hr>
<section>
  <blockquote>
    <img src="/images/check.svg" class="check" alt="Checkmark" />
    <p>
      Got a couple of pictures there? Different sizes? Great! You're using Netlify to resize, optimize, and serve those for you. Let's earn you some more points to improve your chances of winning the prize draw...
    </p>
  </blockquote>

  <h2>Step 3: Read and write data with Netlify Blobs</h2>
  <p>
    Time to use another powerful Netlify primitive: Netlify Blobs. Among othert things, Netlify Blobs can be used as a simple kv store. We'll use that to add an interactive counter to your site.
  </p>
  <ol>
    <li>...</li>
  </ol>
</section>