<header>
  <div class="header-marquee">
    <div class="marquee-track">
      <div class="marquee-content">
        <span class="prize">iPad Air</span>
        <span class="win">Win</span>
        <span class="prize">Sony WH-1000XM5</span>
        <img class="shape-1" src="/images/marquee-shape-1.svg" alt="Marquee shape" />
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
        <span class="prize">iPad Air</span>
        <span class="win">Win</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" alt="Marquee shape" />
        <span class="prize">Sony WH-1000XM5</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" alt="Marquee shape" />
        <span class="win">Win</span>
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
      </div>

      <div class="marquee-content">
        <span class="prize">iPad Air</span>
        <span class="win">Win</span>
        <span class="prize">Sony WH-1000XM5</span>
        <img class="shape-1" src="/images/marquee-shape-1.svg" alt="Marquee shape" />
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
        <span class="prize">iPad Air</span>
        <span class="win">Win</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" alt="Marquee shape" />
        <span class="prize">Sony WH-1000XM5</span>
        <img class="shape-2" src="/images/marquee-shape-2.svg" alt="Marquee shape" />
        <span class="win">Win</span>
        <span class="prize">Nintendo Switch</span>
        <span class="win">Win</span>
      </div>
    </div>
  </div>

  <div class="masthead">
    <div class="conf-subhead">
      <img class="conf-mark" src="/images/compose-mark.svg" />
      <span class="conf-title">Netlify Compose</span>
      <span class="conf-loc">San Francisco</span>
    </div>
    <h1>Code Challenge</h1>
    <p>
      Complete some coding and configuration tasks to enter the prize draw to win an iPad and other
      goodies at Netlify Compose 2024
    </p>
  </div>
</header>
