<div class="header-marquee">
  <div class="marquee-track">
    <div class="marquee-content">
      <span class="prize">iPad Air</span>
      <span class="win">Win</span>
      <span class="prize">Sony WH-1000XM5</span>
      <img
        class="shape-1"
        src="/images/marquee-shape-1.svg"
        alt="Marquee shape"
      />
      <span class="prize">Nintendo Switch</span>
      <span class="win">Win</span>
      <span class="prize">iPad Air</span>
      <span class="win">Win</span>
      <img
        class="shape-2"
        src="/images/marquee-shape-2.svg"
        alt="Marquee shape"
      />
      <span class="prize">Sony WH-1000XM5</span>
      <img
        class="shape-2"
        src="/images/marquee-shape-2.svg"
        alt="Marquee shape"
      />
      <span class="win">Win</span>
      <span class="prize">Nintendo Switch</span>
      <span class="win">Win</span>
    </div>

    <div class="marquee-content">
      <span class="prize">iPad Air</span>
      <span class="win">Win</span>
      <span class="prize">Sony WH-1000XM5</span>
      <img
        class="shape-1"
        src="/images/marquee-shape-1.svg"
        alt="Marquee shape"
      />
      <span class="prize">Nintendo Switch</span>
      <span class="win">Win</span>
      <span class="prize">iPad Air</span>
      <span class="win">Win</span>
      <img
        class="shape-2"
        src="/images/marquee-shape-2.svg"
        alt="Marquee shape"
      />
      <span class="prize">Sony WH-1000XM5</span>
      <img
        class="shape-2"
        src="/images/marquee-shape-2.svg"
        alt="Marquee shape"
      />
      <span class="win">Win</span>
      <span class="prize">Nintendo Switch</span>
      <span class="win">Win</span>
    </div>
  </div>
</div>
