<section>
  <blockquote>
    <img src="/images/check.svg" class="check" alt="Checkmark" />
    <p>
      You cloned the repo, created a new site, and deployed. <br />
      That was step 1. <br />
      You're on your way!
    </p>
  </blockquote>
  <div class="step-badge"><span>Step 1</span></div>
  <h2>Deploy your site</h2>
  <p>
    From here you'll making some changes to the site's <code>index.html</code> file. You might
    choose to clone your <span data-nf-enhance="repo-link">new repo</span> locally to work on it, or
    <span data-nf-enhance="repo-link-index.html">edit it directly in the repo on GitHub</span>.
  </p>
  <p>
    Once you make changes, commit and push them to trigger a new site deployment and unveil the next
    step.
  </p>
</section>
